<div class='navbar'>
  <div class="btn-navbar">
    <a href="/trees">Home</a>
  </div>

  <div class="btn-navbar">
    <a href="/trees/new">Add a Tree</a>
  </div>

  <div class="btn-navbar">
    <span>Adopt a Tree</span>
  </div>
</div>
